body, html {
    height: 85%;
    margin:0%;
    background-color:#D8D8D8;
}

/*krukshetra*/
.img1{
    margin-top: 2.5%;
    margin-left: 10%;
    float: left;
}
.Kurukshetra{
    background-image: linear-gradient(rgba(205, 153, 214, 0.8), rgba(168, 31, 180, 0.8));
    background-size: cover;*/
    margin : 0% 8% 7% 0%;
    padding:3.33%;
    border: 5px grove rgba(236, 129, 129, 0.8);
    font-size: 120%;
    

}


/*NSS*/
.img2{
    margin-top: 1.5%;
    margin-left: 10%;
    float:left;
}
.e1{
    background-image: linear-gradient(rgba(236, 129, 129, 0.8), rgba(237, 17, 25, 0.8));
    background-size: cover;*/
    margin : 0% 5% 7% 10%;
    padding:3.33%;
    border: 5px grove rgba(236, 129, 129, 0.8);
    font-size: 120%;
    
}


/*Cultural*/
.img3{
    margin-top: 1.5%;
    margin-left: 7%;
    float:left;
}
.e2{
    background-image: linear-gradient(rgba(177, 226, 240, 0.8), rgba(15, 160, 204, 0.8));
    background-size: cover;*/
    margin : 0% 5% 7% 10%;
    padding:3.33%;
    border: 5px grove rgba(236, 129, 129, 0.8);
    font-size: 120%;
    
}

/*Gymkhana*/
.img4{
    margin-top: 1.5%;
    margin-left: 7%;
    float:left;
}
.e3{
    background-image: linear-gradient(rgba(245, 153, 153, 0.8), rgba(181, 82, 16, 0.8));
    background-size: cover;*/
    margin : 0% 5% 7% 10%;
    padding:3.33%;
    border: 5px grove rgba(236, 129, 129, 0.8);
    font-size: 120%;
    
}

/*Rotaract*/
.img5{
    margin-top: 4%;
    margin-left: 7%;
    float:left;
}
.e4{
    background-image: linear-gradient(rgba(138, 81, 181, 0.8), rgba(91, 8, 127, 0.8));
    background-size: cover;*/
    margin : 0% 5% 7% 10%;
    padding:3.33%;
    border: 5px grove rgba(236, 129, 129, 0.8);
    font-size: 120%;
    
}
.al
{
    position:relative;
    top:-150px;
    left: 680px;
    width:500px;
    height:200px;

  
}